* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header-container {
  background-color: #323433;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.items-header-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phrase-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
